<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
  	<servlet-name>chat</servlet-name>
  	<jsp-file>/chat.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>chat</servlet-name>
  	<url-pattern>/chat</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>message</servlet-name>
  	<servlet-class>com.rookwithfriends.web.chat.Chat</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>message</servlet-name>
  	<url-pattern>/chat/message</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>rook</servlet-name>
      <servlet-class>com.rookwithfriends.web.RookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>rook</servlet-name>
      <url-pattern>/rook/messages</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>index</servlet-name>
      <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>index</servlet-name>
      <url-pattern>/RookBoard</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
